	<% if session[:user] == nil %>
		<p class="not-logged-in"> No one is logged in. </p>
		<p class="not-logged-in">Click <a href='/'> here to log in</a></p>
	<% elsif session[:user] != nil %>
		<div class="profile-container">
			<div class="account-grid">
				<div class="profile">
					<h1 class="welcome-message"> Hey, <%= session[:user].first_name %> </h1>
					<img class="profile-picture" src="https://i.kinja-img.com/gawker-media/image/upload/s--gS36U-zg--/c_scale,f_auto,fl_progressive,q_80,w_800/ulvv23iqcsbldcp5qtxa.jpg">
					<!-- <div class="profile-links"> -->
						<div class="delete-profile-btn"><a href="/confirm">Delete acccount</a></div><br>
						<div class="log-out-btn"><a href="/logout">Log out</a></div><br>
						<div class="search-bar">
							<h2>Search for posts</h2>
							<form action="/search" method="GET">
								<input type="text" name="search" placeholder="user email">
								<input type="submit">
							</form>
						</div>
					<!-- </div> -->
				</div>
				<div class="most-recent">
					<h1 class="forum-headline">Most Recent Activity</h1>
					<div class="post-container">
						<% $posts.reverse.first(5).each do |post| %>
							<div class="posts">
						   		<h1 class="post-title"><b><%= post.title %></b></h1>
						   		<p class="post-time"><%= post.created_at %></p>
						   		<h2 class="post-author"><em>By: <%= post.author %></em></h2>
						   		<p class="post-content"><%= post.content %></p>
					   		</div>
	   					<% end %>
  			 		</div>
				</div>
				<div class="post-form">
					<h1>Watch the game last night? Talk about it!</h1>
					<form action="/forums" method="POST">
			  			<div class="title"><br> <input type="text" placeholder= "Post Title" name="title"></div>
						<br>
						<textarea rows="10" cols="50" name="content">Type here... </textarea><br>
						<div class="submit"><input type="submit"></div>
					</form>
					<div class="go-to-forums">Go to <a href="/forums"> forums</a>.</div>
				</div>
			</div>
		</div>

	<% end %>